.contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
}

.list {
    display: flex;
    gap: 20px;
}

.small {
    font-size: 8px;
}

.mainDetails {
    font-size: 3.4rem;
    font-weight: bold;
}

.corr {
    color: #FFF;
}

.opac {
    opacity: 0;
}

.applyContainer {
    display: flex;
    border-radius: 12px;
    background-color: black;
    padding: 5px;
    width: 230px;
}

.applyButton {
    cursor: pointer;
    background: yellow;
    border-radius: 12px;
    padding: 8px;
}

.terms {
    display: flex;
    align-items: center;
    justify-content: center;
}